<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('login')"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
    </script>
</head>
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>[ waynboot ]</h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong>waynboot</strong></h4>
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> springboot</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> mybatis-plus</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> sso</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> shiro</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> redisSession集成</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> websocket</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5 animated bounceInDown">
            <form id="login-form" action="#">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">登录到waynboot后台</p>
                <input type="text" class="form-control" name="userName" placeholder="用户名" value="admin"/>
                <input type="password" class="form-control m-b" name="password" placeholder="密码" value="123456"/>
                <input type="hidden" name="backUrl"  th:value="${backUrl}"/>
                <div class="row">
                    <div class="col-xs-7">
                        <div class="form-group">
                            <input class="form-control" id="kaptcha-input" name="clientCaptcha" maxlength="4"
                                   placeholder="验证码">
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <a href="javascript:void(0);" rel="external nofollow" title="点击更换验证码">
                            <img id="verify-img" alt="更换验证码" height="37" width="100%"
                                 onclick="getVerify(this);">
                        </a>
                    </div>
                </div>
                <button id="login-button" class="btn btn-success btn-block" type="submit">登录</button>
                <div class="outside-login">
                    <div class="outside-login-tit">
                        <span>代码链接</span>
                    </div>
                    <div class="outside-login-cot">
                        <a class="outside-login-btn gitee" target="_Blank"
                           href="https://gitee.com/wayn111/crowdfounding">
                            <em><i class="fa fa-git-square"></i></em>
                            <span>码云仓库</span>
                        </a>
                        <a class="outside-login-btn git" target="_Blank"
                           href="https://github.com/wayn111/crowdfounding">
                            <em><i class="fa fa-github"></i></em>
                            <span>GitHub仓库</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            © 2019 wayn Copyright
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript"> var _ctx = [[@{/}]]; </script>
<script>
    var prefix = _ctx;

    function validateRule() {
        var e = '<i class="fa fa-times-circle"></i> ';
        $("#login-form").validate({
            rules: {
                userName: {
                    required: true,
                    minlength: 2,
                },
                password: {
                    required: true
                },
                clientCaptcha: {
                    required: true
                }

            },
            messages: {
                userName: {
                    required: e + "请输入用户名",
                    minlength: e + "用户名最少由二个字母组成"
                },
                password: {
                    required: e + "请输入密码",
                },
                clientCaptcha: {
                    required: e + "请输入验证码"
                }
            },
            focusCleanup: true,
            submitHandler: function () {
                login();
            }
        });
    }

    function login() {
        var config = {
            url: prefix + "/login",
            data: $('#login-form').serialize(),
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.code != 200) {
                    layer.msg(data.msg, {icon: 5});
                } else {
                    location = data.data.backUrl + "?token=" + data.data.token;
                }
            },
            error: function (err) {
                console.log(err)
            }
        };
        $.ajax(config);
    }

    function getVerify(_this) {
        $(_this).attr('src', _ctx + "/captcha?r=" + Math.random());
    }

    $(function () {
        getVerify(document.getElementById('verify-img'));
        validateRule();
    })

</script>
</body>
</html>