<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('home')"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>项目介绍</h5>
                    <!--<div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="draggable_panels.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="draggable_panels.html#">选项1</a>
                            </li>
                            <li><a href="draggable_panels.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>-->
                </div>
                <div class="ibox-content">
                    <blockquote style="font-size:14px">
                        <br>waynboot是以Springboot+Shiro+Mybatis-Plus为核心开发的精简后台基础系统
                        <br>实现sso单点功能，方便各系统登陆
                        <br>Druid数据源，数据库监控，redis缓存
                        <br>使用H+作为后台管理模板，基于thymeleaf模板改造
                        <br>如果你先找一个简单易学，代码风格良好，基于现有功能快速上手开发的话
                        <h4 class="text-info">那么，现在waynboot来了</h4>
                    </blockquote>

                    <h3>&nbsp;&nbsp;&nbsp;获取源码</h3>
                    <ul>
                        <li>
                            <a href="https://gitee.com/wayn111/waynboot-sso" target="_blank">waynboot 码云</a>
                        </li>
                        <li>
                            <a href="https://github.com/wayn111/waynboot-sso" target="_blank">waynboot github</a>
                        </li>
                    </ul>

                    <h3>&nbsp;&nbsp;&nbsp;参考项目</h3>
                    <ul>
                        <li><a href="https://gitee.com/lcg0124/bootdo" target="_blank">
                            bootdo</a></li>
                        <li><a href="https://gitee.com/y_project/RuoYi" target="_blank">
                            ruoyi</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins no-drop">
                <div class="ibox-title">
                    <h5>更新日志</h5>
                    <!--<div class="ibox-tools">
                        <label class="label label-danger">不可拖动</label>
                    </div>-->
                </div>
                <div class="ibox-content">
                    <div class="panel-body">
                        <div class="panel-group" id="version">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v10">v1.0.0</a><code
                                            class="pull-right">2019.4.10</code>
                                    </h5>
                                </div>
                                <div id="v10" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="alert alert-success">代码优化</div>
                                        <ol>
                                            <li>waynboot-admin完善</li>
                                            <li>接入newBeeMall</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v01">v0.0.1</a><code
                                            class="pull-right">2019.4.10</code>
                                    </h5>
                                </div>
                                <div id="v01" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="alert alert-success">项目立项</div>
                                        <ol>
                                            <li>waynboot项目初始化；</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联系信息</h5>
                </div>
                <div class="ibox-content">
                    <p><i class="fa fa-qq"></i> QQ：<a href="#">1669738430</a></p>
                    <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:void(0);">/ *wayn</a></p>
                    <p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:void(0);" class="支付宝信息">/ *wayn</a></p>
                    <!--<a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">
                    </a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:src="@{/plugin/jquery-ui/jquery-ui.min.js}"></script>
</body>
</html>
